.resep-step {
  max-width: 1200px;
  margin: auto;
  &-text{
    color: #FFFBE5;
  }

  .gradient-gold {
    background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);
    color: transparent;
    background-clip: text;
    white-space: nowrap;
  
    &-line {
      justify-content: center;
      &::before{
        content: ""; /* Essential for pseudo-elements */
        width: 100%; /* Width of the line */
        height: 3px; /* Thickness of the line */
        background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);; /* Color of the line, matching one of the gradient colors */
        margin: auto 10px auto 0; /* Center the line and add space below it */
      }
      &::after{
        content: ""; /* Essential for pseudo-elements */
        width: 100%; /* Width of the line */
        height: 3px; /* Thickness of the line */
        background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);; /* Color of the line, matching one of the gradient colors */
        margin: auto 0 auto 10px; /* Center the line and add space below it */
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: #898989 !important; /* Default dot color */
    opacity: 1; /* Ensure full visibility */
  }

  .swiper-pagination-bullet-active {
    background-color: #FFF1A8 !important; /* Active dot color */
  }

  .swiper-button-prev, .swiper-button-next {
    color: #FFFBE5 !important;
  }
}