.beranda {
  max-width: 1200px;
  margin: 32px auto;
  // background-color: #332d1e;
  color: #FFF1A8;
  &-banner {
    position: relative;
    &-text {
      width: fit-content;
      position: absolute;
      bottom: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      left: 50%;
    }
  }

  .gradient-gold {
    background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);
    color: transparent;
    background-clip: text;
    white-space: nowrap;
  
    &-line {
      &::before{
        content: ""; /* Essential for pseudo-elements */
        width: 100px; /* Width of the line */
        height: 3px; /* Thickness of the line */
        background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);; /* Color of the line, matching one of the gradient colors */
        margin: auto 20px auto 0; /* Center the line and add space below it */
      }
    }

    &-both {
      &::before{
        content: ""; /* Essential for pseudo-elements */
        width: 100%; /* Width of the line */
        height: 3px; /* Thickness of the line */
        background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);; /* Color of the line, matching one of the gradient colors */
        margin: auto 30px auto 0; /* Center the line and add space below it */
      }
      &::after{
        content: ""; /* Essential for pseudo-elements */
        width: 100%; /* Width of the line */
        height: 3px; /* Thickness of the line */
        background-image: linear-gradient(to right, #A16706, #E3B61B, #F9F3A5, #E3B61B, #A16706);; /* Color of the line, matching one of the gradient colors */
        margin: auto 0 auto 30px; /* Center the line and add space below it */
      }
    }
  }

  .swiper-pagination {
    position: relative !important; /* Override Swiper's default absolute positioning */
    bottom: auto !important; /* Remove default bottom positioning */
    top: auto !important; /* Remove default top positioning */
    left: auto !important; /* Remove default left positioning */
    right: auto !important; /* Remove default right positioning */

    margin-top: 20px; /* Adjust this value to control spacing below slides */
    text-align: center; /* Center the pagination dots */
    width: 100% !important;
  }

  .swiper-pagination-bullet {
    background-color: #9C9C9C !important; /* Default dot color */
    opacity: 1; /* Ensure full visibility */
  }

  .swiper-pagination-bullet-active {
    background-color: #FFF1A8 !important; /* Active dot color */
  }

  .swiper-button-prev, .swiper-button-next {
    color: #FFFBE5 !important;
  }
}

